.jumbotron {
    background-color:#1a1a1a; 
    color: #ddad7f;
    font-size: 24px;
    font-family: 'Didot-Italic';
    line-height: 40px;
    font-style: italic;
    font-weight: lighter;

}
